#error .img { background: url('/ko3/media/img/404.png') 0px 8px no-repeat; height: 256px; margin: 0 auto; padding-top: 20px; width: 256px; }
#error .message {font-size: 20px; margin: 0 auto; padding-top: 35px; text-align: center;}
